* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primColor: #dcdcdc;
    --secoColor: #555555;
    --cornerRad: 4px;
}

html {
    background: #141414d6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

::placeholder {
    color: white;
    opacity: 1;
}

.card {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 285px;
    height: 411px;
    border-radius: 1.5rem;
    transition: transform 1s ease-in-out;
    background-color: #181c24;
}

.hide {
    display: none;
}

.category {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 35px;
    height: 100%;
    text-align: center;
    z-index: 550;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 500ms ease-in-out;
}

.btn {
    border-radius: 25px;
    background-color: transparent;
    visibility: hidden;
    width: 80%;
    z-index: 551;
    top: 0;
    position: relative;
    margin: 0 10%;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 500ms ease-in-out;
    padding: 10px;
}

.btn a {
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.category:hover {
    padding-bottom: 80px;
}

.category:hover + .btn {
    visibility: unset;
    top: -65px;
}

.btn:hover {
    visibility: unset;
    top: -65px;
}

.bottom:hover .category {
    padding-bottom: 80px;
}

header {
    grid-column: 1 / 3;
    background-color: #181c24;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
}

#containerLogo {
    margin-left: 10px;
    background-color: #181c24;
    height: 100%;
}

#containerInputSearch {
    width: 22%;
    background: #181c24;
    display: flex;
    align-items: center;
}

#inputSearch {
    padding: 5px;
    outline: white 1px solid;
    border: none;
    color: white;
    height: 45px;
    background-color: #181c24;
    width: 100%;
}

#svg_null {
    height: 100%;
}

#containerCard {
    grid-column: 2;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    place-items: center;
}

#containerList {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.bottom {
    display: block;
    position: relative;
    width: 285px;
    height: 411px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 5%, #000000 100%);
}

.bottom:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.bottom:hover:after {
    opacity: 1;
}

.top {
    bottom: 0;
    color: white;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
}
#subnav {
    height: 50px;
    width: 100%;
    background-color: #4d4646;
}

a {
    color: white;
    text-decoration: none;
}

.containerList {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    font-size: 2.5vmax;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

@media only screen and (max-width : 725px) {
    .containerList {
        font-size: 5vmax;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
    }
}